logs/*
*.pyc
*.DS_Store
virtual
db.sqlite3
google-ldap.conf
**/migrations/**
!**/migrations
!**/migrations/__init__.py
static/*
files/agents/*
secured_files/*
db.sqlite3-journal
nohup.out
DBMigrations/TeleCloudApp_migrations/*
TeleCloudApp/static/TeleCloudApp/js/*-*-*-*-*/*
TeleCloudApp/static/TeleCloudApp/css/*-*-*-*-*/*
TeleCloudApp/static/TeleCloudApp/img/*-*-*-*-*/*
*.deb
files/*.patch
files/*.log
*.~lock*
TeleCloudApp/static/TeleCloudApp/js/backup
TeleCloudApp/__pycache__/*
db.sqlite3
TeleCloud/__pycache__/*
