{% extends 'login/login_base.html' %}
{% load static %}
{% block content %}

<div class="main-container | display-f align-center justify-center">
    <form id="password_reset_form" class="login-form mt-6" method="POST">
        {% csrf_token %}
        <label for="Email">Email</label>
        <br><br>
        <input id="password_reset_email" type="email">
        <br> <br>
        <button type="submit" onclick="send_password_reset_mail(event, false)" class="button btn-fill"> Send email </button>
    </form>

</div>
{% endblock %}