{% extends "login/login_base.html" %}
{% block content %}
<div class="main-container | display-f align-center justify-center">
    {% if validlink %}
        <form id="login_form" class="login-form mt-6" method="POST">
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <div id="form_errors">
                        {% for key, value in form.errors.items %}
                            <strong>{{ value }}</strong>
                        {% endfor %}
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <label for="id_new_password1">New Password</label>
            <br><br>
            <input type="password" name="new_password1" class="form-control" required id="id_new_password1" placeholder="Enter password"/>
            <br><br>
            <label for="id_new_password2">New Password Confirmation</label>
            <br><br>
            <input type="password" name="new_password2" required id="id_new_password2" class="form-control" placeholder="Confirm password"/>
            <div class="mt-2">
                {% csrf_token %}
                <div class="display-f justify-space-between">
                    <button class="button btn-fill" type="submit" id="reset">Reset Password</button>
                </div>
            </div>
        </form>
    {% else %}
    <div class="alert alert-warning">
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
    </div>
    {% endif %}
</div>
{% endblock %}